body {
    background-color: #FFFFCC;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr
}

.dest-container {
    background-color: blue;
    margin: 10px;
    padding: 10px;
    color: white;
}

.dest-container a {
    color: white;
}

.dest-main-img {
    width: 30%;
}