
.main-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 100%;
    padding: 50px;
    margin: 10px auto;
    background-color: blue;
    border: 3px solid red;
}

.info-tabs input {
    /*visibility: hidden;*/
}

.info-tabs label {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    padding: 50px;
    margin: 10px auto;
    background-color: white;
}

.bird-grid__main {
    grid-column: 2 / span 3;
    width: 100%;
    margin: 10px auto;
    background-color: pink;
    border: 3px solid black;
}

.bird-content__all,
.bird-content__country,
.bird-content__region,
.bird-content__habitat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 10px auto;
}

.bird-grid__main {
    /*display: none;*/
}

#button1:checked ~ .bird-grid__main .bird-content__all #all {
    display: block;
}

#button2:checked ~ .bird-grid__main bird-content__country #Kenya {
    display: block;
}

#button2:checked ~ .bird-grid__main bird-content__country #South,
#button2:checked ~ .bird-grid__main bird-content__country #North,
#button2:checked ~ .bird-grid__main bird-content__country #East {
    display: none;
}

