main {
    width: 80%;
    margin: auto;
}

.h6 {
    font-family: 'Satisfy', cursive;
}

.single-hero {
    width: 100%;
    height: 40vh;
    background: url("/images/landscape.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 60%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.country-back {
    background: url("/images/lake.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 60%;
}

.region-back {
    background: url("/images/river.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 60%;
}

.hab-back {
    background: url("/images/shore.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 70%;
}

.single-hero__container {
    text-align: center;
}

.single-hero h5 {
    font-family: 'Satisfy', cursive;
}

.all-bird__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
    margin: 20px auto;
}

.bird-elements {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    place-items: center;
    border-bottom: 1px solid rgba(192,192,192,0.4);
    width: 100%;
    height: 100%
}

.bird-image {
    margin-top: 20px;
}

.article-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 50px auto;
}

.info {
    padding: 50px 20px;
    color: white;
}

.info hr {
    margin-top: 30px;
}

.info p {
    margin-top: 30px;
    color: white;
}

.info-container__country {
    grid-column: 1 / 1;
    grid-row: span 2;
    background-color: #9A031E;
}

.info-container__reg {
    grid-column: 3 / 3;
    grid-row: 1 / span 2;
    background-color: #5F0F40;
}

.info-container__hab {
    grid-column: 1 / 1;
    grid-row: span 2;
    background-color: #0F4C5C;
}

.info-card {
    padding: 50px 30px;
    border: 1px solid rgba(192,192,192,0.3);
}
