.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display:flex;
}

.column{
    flex: 33.33%;
    padding: 5px;
}

.container {
    width: 800px;
    height: 500px;
    padding: 50px;
    border: 1px;
}

.container {
    color: #FFF;
}

