.dest-gallery__country {
    width: 100%;
    margin: 20px auto;
    padding 120px;
}

.dest-gallery__country input{
    visibility: hidden;
}

.dest-label__country {
    background-color: #999;
    width: 80%;
    margin: auto;
}

.dest-label__country label {
    font-size: 2rem;
    margin: 30px 10px;
}

.dest-gallery__main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: auto;
}

dest-gallery__elements {
    margin: auto;
}

.dest-main-img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.dest-gallery__text {
    position: relative;
    top: -25%;
    left: 5%
}

.dest-gallery__text button {
    color: white;
    background-color: #E36414;
    font-size: 1rem;
    border: none;
    border-radius: 100px;
    padding: 8px 30px;
}

#button1:checked ~ .dest-gallery__main .dest-main-img .dest-gallery__elements {
    display: block;
}

#button2:checked ~ .dest-gallery__main .dest-gallery__elements #Kenya {
    display: block;
}

#button2:checked ~ .dest-gallery__main .dest-gallery__elements #Madagascar,
#button2:checked ~ .dest-gallery__main .dest-gallery__elements #Algeria,
#button2:checked ~ .dest-gallery__main .dest-gallery__elements #Tanzania {
    display: none;
}

#button3:checked ~ .dest-gallery__main .dest-gallery__elements #Madagascar {
    display: block;
}

#button3:checked ~ .dest-gallery__main .dest-gallery__elements #Kenya,
#button3:checked ~ .dest-gallery__main .dest-gallery__elements #Algeria,
#button3:checked ~ .dest-gallery__main .dest-gallery__elements #Tanzania {
    display: none;
}

#button4:checked ~ .dest-gallery__main .dest-gallery__elements #Algeria {
    display: block;
}

#button4:checked ~ .dest-gallery__main .dest-gallery__elements #Kenya,
#button4:checked ~ .dest-gallery__main .dest-gallery__elements #Madagascar,
#button4:checked ~ .dest-gallery__main .dest-gallery__elements #Tanzania {
    display: none;
}

#button5:checked ~ .dest-gallery__main .dest-gallery__elements #Tanzania {
    display: block;
}

#button5:checked ~ .dest-gallery__main .dest-gallery__elements #Kenya,
#button5:checked ~ .dest-gallery__main .dest-gallery__elements #Madagascar,
#button5:checked ~ .dest-gallery__main .dest-gallery__elements #Algeria  {
    display: none;
}