:root {

    /* variables */
    --color-off-gray: #e7e7e7;
    --color-off-white: #f8f8f8;
    --color-white: #fff;
    --color-black: #0B0B0D;
    --color-gray: #272932;
}

* {
    box-sizing: border-box;
}

/* =============== NAVIGATION ================ */

.nav-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#5F0F40;
    padding: 5px 20px;
}

.nav-container img {
    width: 45px;
    margin: auto 0px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

nav a {
    margin: auto 20px;
    color: #E36414;
    font-weight: 700;
    text-decoration: none;
}

nav a:visited {
    color: #E36414;
}

nav a:hover {
    background: #FFDB78;
    color: #9A031E;
    padding: 5px;
    transition: all 300ms ease;
    border-radius: 3px;
}

.button {
    margin-bottom: 0px;
    color: white;
}

.button:hover {
    padding: 10px 25px;
}

.button:visited {
    color: white;
}

/* =============== // NAVIGATION ================ */

/* ================ HERO SECTION ================ */

.hero-section {
    height: 500px;
    background: url("/images/hero.png") center no-repeat;
    background-size: cover;
}

.hero-section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%
}

.hero-section__content h5 {
    color: #0F4C5C;
}

.hero-section__content h3 {
    color: #F4983C;
}

.hero-section__content a {
    font-size: 1.5rem;
}

/* ================ // HERO SECTION ================ */
/* ================ ABOUT SECTION ================== */

.single-hero {
    width: 100%;
    height: 40vh;
    background: url("/images/lake.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 60%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single-hero__container {
    text-align: center;
}

.single-hero h5 {
    font-family: 'Satisfy', cursive;
}

.sh2 {
    background: url("/images/river.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 60%;
}

/* ================ // ABOUT SECTION ================== */

.staff-h3 {
    text-align: center;
    color: #0F4C5C;
    margin-top: 5px;
}

.global-cards__group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
}

.footer {
    background-color: var(--color-blue);
    color: white;
    width: 100%;
    height: 10vh;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.fa {
    border-radius: 8px;
    padding: 10px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
}

.fa:hover{
opacity: .7;
}

.fa-twitter{
color: white;
}

.fa-instagram{
color: white;
}