<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- ============ Global Styles ================= -->
    <link rel="stylesheet" href="/css/z-global.css">
    <link rel="stylesheet" href="/static/css/z-global.css">
    <title>About Page</title>
</head>

<header>
    <nav>
        <div class="nav-container">
            <img src="/images/parrot-small.png"/>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/company">Company</a></li>
                <li><a href="/birds">Birds</a></li>
                <li><a href="/birdwatchers">Bird Watchers</a></li>
                <li><a href="/destinations">Destinations</a></li>
                <li><a href="/reviews">Reviews</a></li>
                <li><a class="global-button global-button__red button" href="/#book">Book Now</a></li>
            </ul>
        </div>
    </nav>
</header>
<body>
    <main>
        <!-- =========================  GROUP SECTION ========================= -->
        <h3 class="global-h3 staff-h3">Meet The Staff</h3>
        <section class="global-cards__group">
            <div class="global-cards__container global-cards__dark-orange">
                <h6 class="global-h6 global-cards__h6 global-flex">Chad Zimmerman</h6>
                <p class="global-cards__text global-flex"><a class="link-style" href="https://github.com/zimmchad">Github</a></p>
                <p class="global-cards__text global-flex"><a class="link-style" href="https://www.linkedin.com/in/chad-zimmerman-4b4b35220/">LinkedIn</a></p>
            </div>
            <div class="global-cards__container global-cards__orange">
                <h6 class="global-h6 global-cards__h6 global-flex">Jalyn Jenkins</h6>
                <p class="global-cards__text global-flex"><a class="link-style" href="https://github.com/jalynjenkins">Github</a></p>
                <p class="global-cards__text global-flex"><a class="link-style" href="https://www.linkedin.com/in/jalynjenkins/">LinkedIn</a></p>
            </div>
            <div class="global-cards__container global-cards__yellow">
                <h6 class="global-h6 global-cards__h6 global-flex">Kobby Nkansah</h6>
                <p class="global-cards__text global-flex"><a class="link-style" href="https://github.com/kobmank">Github</a></p>
                <p class="global-cards__text global-flex"><a class="link-style" href="https://www.linkedin.com/in/kobby-nkansah-692280218/">LinkedIn</a></p>
            </div>
            <div class="global-cards__container global-cards__purple">
                <h6 class="global-h6 global-cards__h6 global-flex">Noelle Gisewhite</h6>
                <p class="global-cards__text global-flex"><a class="link-style" href="https://github.com/noellegisewhite">Github</a></p>
                <p class="global-cards__text global-flex"><a class="link-style" href="https://www.linkedin.com/in/noellegisewhite/">LinkedIn</a></p>
            </div>
            <div class="global-cards__container global-cards__red">
                <h6 class="global-h6 global-cards__h6 global-flex">Zaylet Feliciano</h6>
                <p class="global-cards__text global-flex"><a class="link-style" href="https://github.com/zaylet">Github</a></p>
                <p class="global-cards__text global-flex"><a class="link-style" href="https://www.linkedin.com/in/zayletfeliciano/">LinkedIn</a></p>
            </div>
        </section>
        <!-- ======================== // GROUP SECTION ======================== -->

        <!-- =========================  ABOUT SECTION ========================= -->
        <section class="global-twocol about">
            <div class="global-twocol__right about-text">
                <h6 class="global-h6 global-twocol__h6-1">About Us</h6>
                <p class="global-text global-twocol__text">We are travelers and twitchers. We work across time zones, hemispheres, cultures and languages. We’re used to breaking things down and building them back up again, until they’re even better. We know travel can be hard, but we also know that it’s worth it, every time. And because we believe travel is a force for good, we take our roles seriously. We’re here to build great products, and facilitate connections between travelers and their love for nature.</p>
            </div>
            <img src="/images/travel-group.png" class="global-twocol__img about-img" width="90%" height="90%">
        </section>
        <!-- ======================== // ABOUT SECTION ======================== -->
    </main>
  <footer>
        <section class="footer">
        <p>&copy; TEAM 4 WCCI</p>
    </section>
</footer>
</body>
</html>