<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/birds">Birds</a></li>
            <li><a href="/destinations">Destinations</a></li>
            <li><a href="/#Faqs">FAQs</a></li>
            <li><a href="/#contact">Contact</a></li>
        </ul>
    </nav>
    <h1>This is the all birds page</h1>
</header>

<body>
<main>
    <section th:each="bird: ${allBirds}" class="single-bird">
        <div class="bird-container">
            <h2 class="bird-name" th:text="${bird.nameOfBird}">Bird Name</h2>
        </div>
    </section>
</main>

</body>
</html>