<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- ============ Global Styles ================= -->
    <link rel="stylesheet" href="/css/z-global.css">
    <link rel="stylesheet" href="/static/css/z-global.css">
    <!-- ============== Bird Styles ================= -->
    <link rel="stylesheet" href="/css/birds.css">
    <link rel="stylesheet" href="/static/css/birds.css">
    <title>All Birds Page</title>
</head>

<header>
    <nav>
        <div class="nav-container">
            <img src="/images/parrot-small.png"/>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/company">Company</a></li>
                <li><a href="/birds">Birds</a></li>
                <li><a href="/birdwatchers">Bird Watchers</a></li>
                <li><a href="/destinations">Destinations</a></li>
                <li><a href="/reviews">Reviews</a></li>
                <li><a class="global-button global-button__red button" href="/#book">Book Now</a></li>
            </ul>
        </div>
    </nav>
</header>

<body>
<section class="single-hero">
    <div class="single-hero__container">
        <h5 class="global-h5">Birds</h5>
        <h3 class="global-h3">All Birds</h3>
    </div>
</section>
<main>
    <section class="all-bird">
        <div class="all-bird__container">
            <div class="bird-container" th:each="bird: ${allBirds}">
                <div class="bird-elements">
                    <img class="bird-image" th:src="${bird.birdImageUrl}"/>
                    <h2 class="bird-name" th:text="${bird.nameOfBird}">Bird Name</h2>
                    <h3 class="bird-species" th:text="${bird.species}">Bird Species</h3>
                    <a class="global-button bird-link" th:href="'/single-bird/'+${bird.id}" href="#">Learn More</a>
                </div>
            </div>
        </div>
    </section>

<!--======================= BROWSE BY ORDER ================================-->
    <article class="article-grid">
        <div class="info-card">
            <div class="links country-link">
                <h6 class="global-h6">Ciconiiformes </h6>
                <p class="global-text">There are about 127 species of birds in this order. Found in all parts of the world and often live in colonies. Most have long necks, bills, legs, and non-webbed feet.</p>
                <a class="global-button global-button__yellow" href="bird/birdOrder/ciconiiformes">Ciconiiformes</a>
            </div>
        </div>
        <div class="info-card">
            <div class="links country-link">
                <h6 class="global-h6">Otidiformes</h6>
                <p class="global-text">Otidiformes is an order of birds. There are 33 species of Otidiformes, in 15 genera and 1 family. It includes groups like Bustards. They rely on flight to move around.</p>
                <a class="global-button global-button__orange" href="bird/birdOrder/otidiformes">Otidiformes</a>
            </div>
        </div>
        <div class="info-card">
            <div class="links country-link">
                <h6 class="global-h6">Accipitriformes</h6>
                <p class="global-text">The Accipitriformes are an order of birds that includes most of the diurnal birds of prey, including hawks, eagles, vultures, and kites, but not falcons.</p>
                <a class="global-button global-button__dark-orange" href="bird/birdOrder/accipitriformes">Accipitriformes</a>
            </div>
        </div>
        <div class="info-card">
            <div class="links country-link">
                <h6 class="global-h6">Bucerotiformes</h6>
                <p class="global-text">An order of birds that contains the hornbills, ground hornbills, hoopoes and wood hoopoes. These birds were previously classified as members of Coraciiformes.</p>
                <a class="global-button global-button__red" href="bird/birdOrder/bucerotiformes">Bucerotiformes</a>
            </div>
        </div>
        <div class="info-card">
            <div class="links country-link">
                <h6 class="global-h6">Strigiformes</h6>
                <p class="global-text">There are around 200 species of birds in this order. Owls are birds from the order Strigiformes, consisting of mostly solitary and nocturnal birds of prey.</p>
                <a class="global-button global-button__purple" href="bird/birdOrder/strigiformes">Strigiformes</a>
            </div>
        </div>
        <div class="info-card">
            <div class="links country-link">
                <h6 class="global-h6">Phoenicopteriformes</h6>
                <p class="global-text">Phoenicopteriformes is a group of water birds which comprises flamingos and their extinct relatives. There are six species of large wading birds in this order.</p>
                <a class="global-button global-button__blue" href="bird/birdOrder/phoenicopteriformes">Phoenicopteriformes</a>
            </div>
        </div>
        <div class="info-card">
            <div class="links country-link">
                <h6 class="global-h6">Coraciiformes</h6>
                <p class="global-text">The Coraciiformes are a group of usually colourful birds including the kingfishers, the bee-eaters, the rollers, the motmots, and the todies.</p>
                <a class="global-button global-button__yellow" href="bird/birdOrder/coraciiformes">Coraciiformes</a>
            </div>
        </div>
        <div class="info-card">
            <div class="links country-link">
                <h6 class="global-h6">Cuculiformes</h6>
                <p class="global-text">There are around 170 species in this order. They are found in all parts of the world, but most species are found in Australia, South America, Asia, and Africa.</p>
                <a class="global-button global-button__orange" href="bird/birdOrder/cuculiformes">Cuculiformes</a>
            </div>
        </div>
        <div class="info-card">
            <div class="links country-link">
                <h6 class="global-h6">Anseriformes</h6>
                <p class="global-text">Anseriformes is an order of birds also known as waterfowl that comprises about 180 living species of birds in three families: Anhimidae, Anseranatidae, and Anatidae.</p>
                <a class="global-button global-button__red" href="bird/birdOrder/anseriformes">Anseriformes</a>
            </div>
        </div>
        <div class="info-card see-more">
            <div class="links country-link">
                <h6 class="global-h6">Browse Packages</h6>
                <p class="global-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales eu nibh nec lacinia. Nam viverra, justo vel lacinia. Pellentesque vel justo.</p>
                <a class="global-button" href="/destinations">Destinations</a>
            </div>
        </div>
        <div class="info info-container__order">
            <h6 class="h6 global-h6">Africa</h6>
            <h6 class="global-h6">Browse Birds By Order</h6>
            <hr>
            <p class="global-text">It has frequently been stated that birds are one of the best known of animal groups. This is true in the sense that most of the living species and subspecies in the world have probably been described; but because of inadequacies in the fossil record and repeated cases of convergent evolution within the group, our knowledge of the phylogenetic relationships between orders, suborders, and families of birds is inferior to that of mammals and reptiles.</p>
        </div>
    </article>
<!--======================= BROWSE BY COUNTRY ================================-->
    <section>
        <article class="article-grid">
            <div class="info info-container__country">
                <h6 class="h6 global-h6">Africa</h6>
                <h6 class="global-h6">Browse Birds By Country</h6>
                <hr>
                <p class="global-text">Africa is the world's second-largest and second-most populous continent, after Asia in both cases. At about 30.3 million km² including adjacent islands, it covers 6% of Earth's total surface area and 20% of its land area. With 1.3 billion people as of 2018, it accounts for about 16% of the world's human population.</p>
            </div>
            <div class="info-card">
                <div class="links country-link">
                    <h6 class="global-h6">Guinea</h6>
                    <p class="global-text">Guinea is a country in West Africa, bordered by the Atlantic Ocean. It's known for the Mount Nimba Strict Nature Reserve, in the south.</p>
                    <a class="global-button global-button__orange" href="bird/country/guinea">Guinea Birds</a>
                </div>
            </div>
            <div class="info-card">
                <div class="links country-link">
                    <h6 class="global-h6">Gabon</h6>
                    <p class="global-text">Gabon id a country along the coast of Central Africa. It has significant areas of protected parkland. Gabon retains strong ties to France.</p>
                    <a class="global-button global-button__red" href="bird/country/gabon">Gabon Birds</a>
                </div>
            </div>
            <div class="info-card">
                <div class="links country-link">
                    <h6 class="global-h6">Kenya</h6>
                    <p class="global-text">Kenya is a country in East Africa with coastline on the Indian Ocean. It encompasses savannah, lakelands, the Great Rift Valley and mountain highlands.</p>
                    <a class="global-button global-button__purple" href="bird/country/kenya">Kenyan Birds</a>
                </div>
            </div>
            <div class="info-card">
                <div class="links country-link">
                    <h6 class="global-h6">South Africa</h6>
                    <p class="global-text">South Africa is a country on the tip of the African continent, marked by several distinct ecosystems. South Africa has some of the oldest fossils.</p>
                    <a class="global-button global-button__blue" href="bird/country/south%20africa">South Africa Birds</a>
                </div>
            </div>
            <div class="info-card">
                <div class="links country-link">
                    <h6 class="global-h6">Madagascar</h6>
                    <p class="global-text">Madagascar is an island country in the Indian Ocean, approximately 400 kilometres off the coast of East Africa across the Mozambique Channel.</p>
                    <a class="global-button global-button__blue" href="bird/country/madagascar">Madagascar Birds</a>
                </div>
            </div>
        </article>

<!--======================= BROWSE BY REGION ================================-->
        <article class="article-grid">
            <div class="info-card">
                <div class="links country-link">
                    <h6 class="global-h6">West Africa</h6>
                    <p class="global-text">Western Africa is the westernmost region. The United Nations defines Western Africa as the 16 countries of Benin, The Gambia, Ghana, Guinea, etc.</p>
                    <a class="global-button global-button__yellow" href="bird/region/west%20africa">West Africa Birds</a>
                </div>
            </div>
            <div class="info-card">
                <div class="links country-link">
                    <h6 class="global-h6">East Africa</h6>
                    <p class="global-text">East Africa is the eastern subregion of the African continent. In the United Nations Statistics Division scheme of geographic regions, territories make up Eastern Africa.</p>
                    <a class="global-button global-button__orange" href="bird/region/east%20africa">East Africa Birds</a>
                    </div>
            </div>
            <div class="info-card">
                <div class="links country-link">
                    <h6 class="global-h6">South Africa</h6>
                    <p class="global-text">Southern Africa is the southernmost region of the continent. It is home to a number of river systems; the Zambezi River is the most prominent.</p>
                    <a class="global-button global-button__dark-orange" href="bird/region/south%20africa">South Africa Birds</a>
                </div>
            </div>
            <div class="info-card">
                <div class="links country-link">
                    <h6 class="global-h6">Island Birds</h6>
                    <p class="global-text">The fourth-largest island in the world, Madagascar, has been isolated for about 80 million years, and many of its plants and animals are unique to the island.</p>
                    <a class="global-button global-button__red" href="bird/region/island">Island Birds</a>
                </div>
            </div>
            <div class="info info-container__reg">
                <h6 class="h6 global-h6">Africa</h6>
                <h6 class="global-h6">Browse Birds By Region</h6>
                <hr>
                <p class="global-text">The United Nations’ Geoscheme divides the continent into 5 distinct subregions, Northern Africa, West Africa, Middle Africa, East Africa, and Southern Africa. Northern Africa is the largest of the subregions by land area, while Southern Africa is the smallest. Southern Africa is also the least populous of the African subregions. Each subregion is comprised of a number of countries. Northern Africa has just 5 countries, and Southern Africa 6. In contrast, East Africa, the most populous subregion of Africa, contains 18 countries. West Africa has 16 countries, and Middle Africa has 9.</p>
            </div>
        </article>
<!--======================= BROWSE BY HABITAT ================================-->
        <article class="article-grid">
            <div class="info info-container__hab">
                <h6 class="h6 global-h6">Africa</h6>
                <h6 class="global-h6">Browse Birds By Habitat</h6>
                <hr>
                <p class="global-text">Africa has several different types of habitats from jungles and forests to grasslands and deserts. The second-largest continent after Asia, it is home to many beautiful and dangerous animals of various sizes, both diurnal and nocturnal.</p>
            </div>
            <div class="info-card">
                <div class="links country-link">
                    <h6 class="global-h6">Sahara Birds</h6>
                    <p class="global-text">The Sahara is a desert on the African continent. With an area of 9,200,000 square kilometres, it is the largest hot desert in the world.</p>
                    <a class="global-button global-button__blue" href="bird/habitat/sahara">Saharan Birds</a>
                </div>
            </div>
            <div class="info-card">
                <div class="links country-link">
                    <h6 class="global-h6">Savanna Birds</h6>
                    <p class="global-text">A savannah is the famous image of Africa. These are grasslands punctuated by trees and shrubs, meaning you’ll encounter the greatest diversity of wildlife.</p>
                    <a class="global-button global-button__red" href="bird/habitat/savanna">Savanna Birds</a>
                </div>
            </div>
            <div class="info-card">
                <div class="links country-link">
                    <h6 class="global-h6">Coastal Birds</h6>
                    <p class="global-text">Coastal East Africa encompasses a beautiful tapestry of land and sea—from mountains and grasslands to mangroves and fringing coral reefs.</p>
                    <a class="global-button global-button__orange" href="bird/habitat/coastal">Coastal Birds</a>
                </div>
            </div>
            <div class="info-card">
                <div class="links country-link">
                    <h6 class="global-h6">Tropical Birds</h6>
                    <p class="global-text">Tropical rainforests are tropical, moist forests of semi-deciduous varieties distributed across nine West African countries.</p>
                    <a class="global-button global-button__yellow" href="bird/habitat/tropical">Tropical Birds</a>
                </div>
            </div>
        </article>
<!--======================= LINKS ================================-->
<!--        <div class="links region-links">-->
<!--            <a class="global-button global-button__yellow" href="bird/region/kruger%20national%20park">Birds Of Kruger National Park</a>-->
<!--            <a class="global-button global-button__orange" href="bird/region/rift%20valley">Bird Of Rift Valley</a>-->
<!--            <a class="global-button global-button__dark-orange" href="bird/region/island">Tropical Island Birds</a>-->
<!--        </div>-->

<!--        <div class="links habitat-links">-->
<!--            <a class="global-button global-button__purple" href="bird/habitat/sahara">Saharan Birds</a>-->
<!--            <a class="global-button global-button__blue" href="bird/habitat/grassland">Grassland Birds</a>-->
<!--            <a class="global-button global-button__red" href="bird/habitat/savanna">Savanna Birds</a>-->
<!--            <a class="global-button global-button__dark-orange" href="bird/habitat/woodlands">Woodland Birds</a>-->
<!--            <a class="global-button global-button__orange" href="bird/habitat/coastal">Coastal Birds</a>-->
<!--            <a class="global-button global-button__yellow" href="bird/habitat/tropical">Tropical Birds</a>-->
<!--        </div>-->
    </section>
</main>
</body>
</main>
<footer>
    <section class="footer">
        <p>&copy; TEAM 4 WCCI</p>
    </section>
</footer>
</html>