<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- ============ Global Styles ================= -->
    <link rel="stylesheet" href="/css/z-global.css">
    <link rel="stylesheet" href="/static/css/z-global.css">
    <link rel="stylesheet" href="/css/company.css">
    <title>Team 4 - Company</title>
</head>

<header>
    <nav>
        <div class="nav-container">
            <img src="/images/parrot-small.png"/>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/company">Company</a></li>
                <li><a href="/birds">Birds</a></li>
                <li><a href="/birdwatchers">Bird Watchers</a></li>
                <li><a href="/destinations">Destinations</a></li>
                <li><a href="/reviews">Reviews</a></li>
                <li><a class="global-button global-button__red button" href="/#book">Book Now</a></li>
            </ul>
        </div>
    </nav>
    <h1 class="title" style="--duration: 1s">
        <span style="--delay: .5s">JAC</span>
        <span style="--delay: .8s">Enterprises</span>
    </h1>
</header>

<body>
    <div class="row">
        <div class="column">
        <img src="/images/company.jpg" width="700" height="400" class="center">
        </div>
        <div class="container" style="background-color: #F4983C">
            <p>JAC Enterprises is an organization that specializes in offering niche adventures dedicated to learning about Earth's
            various ecosystems and unique terrains. Our motto is, "Vincit Qui Se Vincit" which means, "He/she conquers who conquers him/herself.</p>
            <p>We are on our 50th year anniversary! We just want to say that we truly appreciate each one of you folks. It is truly a dream for us to
            encourage people to explore our wildlife and our beautiful countries. We hope we continue to serve you with our tours and adventures forever and ever!</p>
            <p>JAC prides itself on educating all their customers on what adventures are provided and what can be expected on a chosen adventure.
            Past applications built highlighted JAC's Spelunking! and EYA! bka Experience Your Aquarium!, JT, B! bka Just Trek, Baby!, and
            Skip 2 My Cay! adventures.</p>
            <p>Recently, JAC's twitchers, a specific type of bird watching hobbyist, business has had considerable interest thus creating substantial
            growth in bookings and revenue and thus JAC Enterprises has decided to open up a bidding/design competition to allow 3rd party
            consulting organizations to create an application that will educate current and future clientele of what bird watching is and island
            hopping adventures offered by JAC Enterprises.</p>
        </div>
    </div>
</body>
</main>
<footer>
    <section class="footer">
        <p>&copy; TEAM 4 WCCI</p>
    </section>
</footer>
</html>