<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- ============ Global Styles ================= -->
    <link rel="stylesheet" href="/css/z-global.css">
    <link rel="stylesheet" href="/static/css/z-global.css">
    <title>Team 4 - Company</title>
</head>

<header>
    <nav>
        <div class="nav-container">
            <img src="/images/parrot-small.png"/>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/company">Company</a></li>
                <li><a href="/birds">Birds</a></li>
                <li><a href="/birdwatchers">Bird Watchers</a></li>
                <li><a href="/destinations">Destinations</a></li>
                <li><a href="/reviews">Reviews</a></li>
            </ul>
        </div>
    </nav>
    <h1>JAC Enterprises</h1>
</header>

<body>
    <p>JAC Enterprises is an organization that specializes in offering niche adventures dedicated to learning about Earth's
    various ecosystems and unique terrains. Our motto is, "Vincit Qui Se Vincit" which means, "He/she conquers who conquers him/herself.</p>
    <p>JAC prides itself on educating all their customers on what adventures are provided and what can be expected on a chosen adventure.
        Past applications built highlighted JAC's Spelunking! and EYA! bka Experience Your Aquarium!, JT, B! bka Just Trek, Baby!, and
        Skip 2 My Cay! adventures.</p>
    <p>Recently, JAC's twitchers, a specific type of bird watching hobbyist, business has had considerable interest thus creating substantial
        growth in bookings and revenue and thus JAC Enterprises has decided to open up a bidding/design competition to allow 3rd party
        consulting organizations to create an application that will educate current and future clientele of what bird watching is and island
        hopping adventures offered by JAC Enterprises.</p>
</body>
</main>
<footer>
    <section class="footer">
        <p>&copy; TEAM 4 WCCI</p>
    </section>
</footer>
</html>