<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- ============ Global Styles ================= -->
    <link rel="stylesheet" href="/css/z-global.css">
    <link rel="stylesheet" href="/static/css/z-global.css">
    <!-- ============== Bird Styles ================= -->
    <link rel="stylesheet" href="/css/birds.css">
    <link rel="stylesheet" href="/static/css/birds.css">
    <title>Birds By Habitat</title>
</head>

<header>
    <nav>
        <div class="nav-container">
            <img src="/images/parrot-small.png"/>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/company">Company</a></li>
                <li><a href="/birds">Birds</a></li>
                <li><a href="/birdwatchers">Bird Watchers</a></li>
                <li><a href="/destinations">Destinations</a></li>
                <li><a href="/reviews">Reviews</a></li>
            </ul>
        </div>
    </nav>
</header>

<body>

<section class="single-hero hab-back">
    <div class="single-hero__container">
        <h5 class="global-h5">Habitat</h5>
        <h3 class="global-h3">Birds By Habitat</h3>
    </div>
</section>

<main>
    <section class="all-bird">
        <div class="all-bird__container">
            <div class="bird-container" th:each="bird: ${habitatBird}">
                <div class="bird-elements">
                    <img class="bird-image" th:src="${bird.birdImageUrl}"/>
                    <h2 class="bird-name" th:text="${bird.nameOfBird}">Bird Name</h2>
                    <h3 class="bird-species" th:text="${bird.species}">Bird Species</h3>
                    <h4 class="bird-country" th:text="${bird.habitat}">Bird Habitat</h4>
                    <a class="global-button bird-link" th:href="'/single-bird/'+${bird.id}" href="#">Learn More</a>
                </div>
            </div>
        </div>
    </section>

<!--<section th:each="bird: ${habitatBird}" class="single-bird">-->
<!--    <div class="bird-container">-->
<!--        <h2 class="bird-name" th:text="${bird.nameOfBird}">Bird Name</h2>-->
<!--        <h3 class="bird-species" th:text="${bird.species}">Bird Species</h3>-->
<!--        <img class="bird-image" th:src="${bird.birdImageUrl}">-->
<!--        <p class="bird-continent;" th:text="${bird.continent}">Bird Continent</p>-->
<!--        <p class="bird-country" th:text="${bird.country}">Bird Country</p>-->
<!--        <p class="bird-region" th:text="${bird.countryRegion}">Bird Region</p>-->
<!--        <p class="bird-habitat" th:text="${bird.habitat}">Bird Habitat</p>-->
<!--        <p class="bird-color" th:text="${bird.colorOfBird}">Bird Color</p>-->
<!--        <p class="bird-beak" th:text="${bird.lengthOfBeak}">Bird Beak</p>-->
<!--        <p class="bird-wing" th:text="${bird.lengthOfWing}">Bird Wing</p>-->
<!--        <p class="bird-description" th:text="${bird.description}">Bird Description</p>-->
<!--        <a class="bird-link global-button" th:href="'/single-bird/'+${bird.id}">Click To Learn More</a>-->
<!--    </div>-->
<!--</section>-->
</main>
</body>
</html>