<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- ============ Global Styles ================= -->
    <link rel="stylesheet" href="/css/z-global.css">
    <link rel="stylesheet" href="/static/css/z-global.css">
    <title>Team 4 - Home</title>
</head>

<header>
    <nav>
        <div class="nav-container">
            <img src="/images/parrot-small.png"/>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/company">Company</a></li>
                <li><a href="/birds">Birds</a></li>
                <li><a href="/birdwatchers">Bird Watchers</a></li>
                <li><a href="/destinations">Destinations</a></li>
                <li><a href="/reviews">Reviews</a></li>
            </ul>
        </div>
    </nav>
</header>

<body>
<section class="hero-section">
    <div class="hero-section__content">
        <h1 class="global-h1">This is the homepage</h1>
        <h3 class="global-h3">This is a subheading</h3>
        <a href="/birds" class="global-button global-button__purple">SEE ALL BIRDS</a>
    </div>
</section>
<main>
    <section class="global-twocol">
        <div class="global-twocol__right">
            <h6 class="global-h6 global-twocol__h6-1">See Birds Of Africa Like Never Before</h6>
            <p class="global-text global-twocol__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi,
                odio.</p>
            <h6 class="global-h6 global-twocol__h6-2">Flamingos Of Kenya</h6>
            <p class="global-text global-twocol__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi,
                odio.</p>
            <h6 class="global-h6 global-twocol__h6-3">Saddle-Billed Storks of South Africa</h6>
            <p class="global-text global-twocol__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi,
                odio.</p>
            <h6 class="global-h6 global-twocol__h6-3">And Much More</h6>
            <p class="global-text global-twocol__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi,
                odio.</p>
            <a href="/birds" class="global-button global-button__red">LEARN MORE</a>
        </div>
        <img src="https://images.pexels.com/photos/987947/pexels-photo-987947.jpeg" alt="flamingo"
             class="global-twocol__img" width="100%" height="100%">
    </section>

    <section class="global-twocol">
        <img src="https://images.pexels.com/photos/276334/pexels-photo-276334.jpeg" alt="safari"
             class="global-twocol__img" width="100%" height="100%">
        <div class="global-twocol__right">
            <h6 class="global-h6 global-twocol__h6-1">Explore Destinations In Kenya</h6>
            <p class="global-text global-twocol__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi,
                odio.</p>
            <h6 class="global-h6 global-twocol__h6-2">Explore Destinations In Madagascar</h6>
            <p class="global-text global-twocol__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi,
                odio.</p>
            <h6 class="global-h6 global-twocol__h6-3">Explore Destinations In Algeria</h6>
            <p class="global-text global-twocol__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi,
                odio.</p>
            <h6 class="global-h6 global-twocol__h6-3">Explore Destinations In Tanzania</h6>
            <p class="global-text global-twocol__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi,
                odio.</p>
            <a href="/destinations" class="global-button global-button__orange">LEARN MORE</a>
        </div>
    </section>

    <!-- =========================  GROUP SECTION ========================= -->
    <h3 class="global-h3">Meet The Staff</h3>
    <section class="global-cards__group">
        <div class="global-cards__container global-cards__dark-orange">
            <h6 class="global-h6 global-cards__h6">Chad Zimmerman</h6>
            <p class="global-cards__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Quasi, odio.</p>
        </div>
        <div class="global-cards__container global-cards__orange">
            <h6 class="global-h6 global-cards__h6">Jalyn Jenkins</h6>
            <p class="global-cards__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Quasi, odio.</p>
        </div>
        <div class="global-cards__container global-cards__yellow">
            <h6 class="global-h6 global-cards__h6">Kobby Nkansah</h6>
            <p class="global-cards__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Quasi, odio.</p>
        </div>
        <div class="global-cards__container global-cards__purple">
            <h6 class="global-h6 global-cards__h6">Noelle Gisewhite</h6>
            <p class="global-cards__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Quasi, odio.</p>
        </div>
        <div class="global-cards__container global-cards__red">
            <h6 class="global-h6 global-cards__h6">Zaylet Feliciano</h6>
            <p class="global-cards__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Quasi, odio.</p>
        </div>
    </section>
    <!-- ======================== // GROUP SECTION ======================== -->
    <!-- =========================  FOOTER ========================= -->
    <section class="footer">
        <p>&copy; TEAM 4 WCCI</p>
    </section>

    <!-- ======================== // FOOTER ======================== -->


</main>
</body>
</html>