<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- ============ Global Styles ================= -->
    <link rel="stylesheet" href="/css/z-global.css">
    <link rel="stylesheet" href="/static/css/z-global.css">
    <title>Single Bird</title>
</head>
<header>
    <nav>
        <div class="nav-container">
            <img src="/images/parrot-small.png"/>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/company">Company</a></li>
                <li><a href="/birds">Birds</a></li>
                <li><a href="/birdwatchers">Bird Watchers</a></li>
                <li><a href="/destinations">Destinations</a></li>
                <li><a href="/reviews">Reviews</a></li>
            </ul>
        </div>
    </nav>
</header>
<body>
<h1>This is a single bird page</h1>
</body>
</html>