<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- ============ Global Styles ================= -->
    <link rel="stylesheet" href="/css/z-global.css">
    <link rel="stylesheet" href="/static/css/z-global.css">
    <title>Single Bird</title>
</head>
<header>
    <nav>
        <div class="nav-container">
            <img src="/images/parrot-small.png"/>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/company">Company</a></li>
                <li><a href="/birds">Birds</a></li>
                <li><a href="/birdwatchers">Bird Watchers</a></li>
                <li><a href="/destinations">Destinations</a></li>
                <li><a href="/reviews">Reviews</a></li>
            </ul>
        </div>
    </nav>
</header>
<body>
<h1>This is a single bird page</h1>
<section class="all-bird">
    <div class="bird-container">
        <h2 class="bird-name" th:text="${singleBird.nameOfBird}">Bird Name</h2>
        <h3 class="bird-species" th:text="${singleBird.species}">Bird Species</h3>
        <img class="bird-image" th:src="${singleBird.birdImageUrl}">
        <p class="bird-continent;" th:text="${singleBird.continent}">Bird Continent;</p>
        <p class="bird-country" th:text="${singleBird.country}">Bird Country</p>
        <p class="bird-region" th:text="${singleBird.countryRegion}">Bird Region</p>
        <p class="bird-habitat" th:text="${singleBird.habitat}">Bird Habitat</p>
        <p class="bird-color" th:text="${singleBird.colorOfBird}">Bird Color</p>
        <p class="bird-beak" th:text="${singleBird.lengthOfBeak}">Bird Beak</p>
        <p class="bird-wing" th:text="${singleBird.lengthOfWing}">Bird Wing</p>
        <p class="bird-description" th:text="${singleBird.description}">Bird Description</p>
    </div>
</section>
</body>
</html>