<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <!-- ============ VS Code Path ================= -->
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Team 4 - Home</title>
</head>

<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/birds">Birds</a></li>
      <li><a href="/destinations">Destinations</a></li>
      <li><a href="/#Faqs">FAQs</a></li>
      <li><a href="/#contact">Contact</a></li>
    </ul>
  </nav>
  <h1>This is the homepage</h1>
</header>

<body>
$END$
</body>
</html>