<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- ============ Global Styles ================= -->
    <link rel="stylesheet" href="/css/z-global.css">
    <link rel="stylesheet" href="/static/css/z-global.css">
    <!-- ============ Sng Dest Styles =============== -->
    <link rel="stylesheet" href="/css/single-destination.css">
    <link rel="stylesheet" href="/static/css/single-destination.css">
    <script src="https://kit.fontawesome.com/fa2ea675bd.js" crossorigin="anonymous"></script>
    <title>Single Destination Page</title>
</head>

<header>
    <nav>
        <div class="nav-container">
            <img src="/images/parrot-small.png"/>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/company">Company</a></li>
                <li><a href="/birds">Birds</a></li>
                <li><a href="/birdwatchers">Bird Watchers</a></li>
                <li><a href="/destinations">Destinations</a></li>
                <li><a href="/reviews">Reviews</a></li>
                <li><a class="global-button global-button__red button" href="/#book">Book Now</a></li>
            </ul>
        </div>
    </nav>
</header>

<body>
<section class="single-hero">
    <div class="single-hero__container">
        <h5 class="global-h5" th:text="${singleDestination.country}">Country</h5>
        <h3 class="global-h3" th:text="${singleDestination.packageName}">Package Name</h3>
    </div>
</section>
<main>
    <section class="dest-main">
        <div class="grid-elements">
            <div class="grid-elements__div">
                <i class="fa-solid fa-tag"></i>
                <p class="grid-text">Category:</p>
                <p class="global-text grid-text__low" th:text="${singleDestination.packageCategory}">Category</p>
            </div>

            <div class="grid-elements__div">
                <i class="fa-solid fa-earth-africa"></i>
                <p class="grid-text">Country:</p>
                <p class="global-text grid-text__low" th:text="${singleDestination.country}">Country</p>
            </div>

            <div class="grid-elements__div">
                <i class="fa-solid fa-globe"></i>
                <p class="grid-text">Region:</p>
                <p class="global-text grid-text__low" th:text="${singleDestination.region}">Region</p>
            </div>

            <div class="grid-elements__div hab">
                <i class="fa-solid fa-mountain"></i>
                <p class="grid-text">Habitat:</p>
                <p class="global-text grid-text__low" th:text="${singleDestination.habitat}">Habitat</p>
            </div>
        </div>

        <div class="dest-flex">
            <img class="grid-img" th:src="${singleDestination.destinationImageUrl}"
                 th:alt="${singleDestination.packageName}">
            <h6 class="global-h6 price" th:text="${singleDestination.packagePrice}+' USD'">Price</h6>
            <h5 class="global-h5 name" th:text="${singleDestination.packageName}">Package Name</h5>
            <div class="all-tags">
                <button class="global-button htag" th:each="hashtag: ${singleDestination.hashtags}" th:text="${hashtag.tagName}">Hashtag</button>
            </div>
            <p class="global-text" th:text="${singleDestination.packageDesc}">Description</p>
        </div>
    </section>

    <section class="review-container">

    </section>
</main>
</body>
</html>