<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <!-- ============ VS Code Path ================= -->
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Global Elements Template</title>
</head>

<body>
    <div class="global-container">
        <h1 class="global-h1">This Is An H1 Tag</h1>
        <h2 class="global-h1">This Is An H2 Tag</h2>
        <h3 class="global-h1">This Is An H3 Tag</h3>
        <h4 class="global-h1">This Is An H4 Tag</h4>
        <h5 class="global-h1">This Is An H5 Tag</h5>
        <h6 class="global-h1">This Is An H6 Tag</h6>
    </div>

    <div class="global-container">
        <ul class="global-ul">
            <li class="global-ul-item">This is an un-ordered list item</li>
            <li class="global-ul-item">This is an un-ordered list item</li>
            <li class="global-ul-item">This is an un-ordered list item</li>
            <li class="global-ul-item">This is an un-ordered list item</li>
            <li class="global-ul-item">This is an un-ordered list item</li>
        </ul>
    </div>

    <div class="global-container">
        <ol class="global-ol">
            <li class="global-ol-item">This is an un-ordered list item</li>
            <li class="global-ol-item">This is an un-ordered list item</li>
            <li class="global-ol-item">This is an un-ordered list item</li>
            <li class="global-ol-item">This is an un-ordered list item</li>
            <li class="global-ol-item">This is an un-ordered list item</li>
        </ol>
    </div>

</body>

</html>