<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- ============ Global Styles ================= -->
    <link rel="stylesheet" href="/css/z-global.css">
    <link rel="stylesheet" href="/static/css/z-global.css">
    <title>Global Elements Template</title>
</head>

<body>
    <!--================================= Tests With Jordan =================================-->
    <section class="test global-threecol">
        <div class="global-threecol__container">
            <h6 class="global-h6 global-threecol__h6-1">/dolphinTourAndSnorkeling.jpg</h6>
            <img src="/dolphinTourAndSnorkeling.jpg" alt="image" class="global-threecol__img" width="100%">
        </div>
        <div class="global-threecol__container">
            <h6 class="global-h6 global-threecol__h6-1">/images/dolphinTourAndSnorkeling.jpg</h6>
            <img src="/images/dolphinTourAndSnorkeling.jpg" alt="image" class="global-threecol__img" width="100%">
        </div>
        <div class="global-threecol__container">
            <h6 class="global-h6 global-threecol__h6-1">/static/images/dolphinTourAndSnorkeling.jpg</h6>
            <img src="/static/images/dolphinTourAndSnorkeling.jpg" alt="image" class="global-threecol__img"
                width="100%">
        </div>
        <div class="global-threecol__container">
            <h6 class="global-h6 global-threecol__h6-1">/resources/static/images/dolphinTourAndSnorkeling.jpg</h6>
            <img src="/resources/static/images/dolphinTourAndSnorkeling.jpg" alt="image" class="global-threecol__img"
                width="100%">
        </div>
        <div class="global-threecol__container">
            <h6 class="global-h6 global-threecol__h6-1">/main/resources/static/images/dolphinTourAndSnorkeling.jpg</h6>
            <img src="/main/resources/static/images/dolphinTourAndSnorkeling.jpg" alt="image"
                class="global-threecol__img" width="100%">
        </div>
        <div class="global-threecol__container">
            <h6 class="global-h6 global-threecol__h6-1">src/main/resources/static/images/dolphinTourAndSnorkeling.jpg
            </h6>
            <img src="src/main/resources/static/images/dolphinTourAndSnorkeling.jpg" alt="image"
                class="/global-threecol__img" width="100%">
        </div>
    </section>
    <!--================================= // Tests With Jordan =================================-->

    <div class="global-divider">
        <hr size="8" width="100%" color="red">
    </div>

    <!-- =========== headers =========== -->
    <div class="global-container">
        <h1 class="global-h1">This Is An H1 Tag</h1>
        <h2 class="global-h2">This Is An H2 Tag</h2>
        <h3 class="global-h3">This Is An H3 Tag</h3>
        <h4 class="global-h4">This Is An H4 Tag</h4>
        <h5 class="global-h5">This Is An H5 Tag</h5>
        <h6 class="global-h6">This Is An H6 Tag</h6>
    </div>

    <!-- =========== text =========== -->
    <div class="global-container">
        <p class="global-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, delectus dolores! Eveniet
            maxime dolore voluptate dolor rem nesciunt deleniti vel, animi quod eaque repudiandae, dicta veniam aliquid.
            Molestiae alias a ex nobis, necessitatibus vitae quod sunt in quo nihil ipsa sapiente eaque odit eos
            molestias accusamus. Consequatur ipsa alias aperiam explicabo, inventore ex porro nihil, nostrum quas nobis
            ab non?</p>
    </div>

    <!-- =========== lists =========== -->
    <div class="global-container">
        <ul class="global-ul">
            <li class="global-ul-item">This is an un-ordered list item</li>
            <li class="global-ul-item">This is an un-ordered list item</li>
            <li class="global-ul-item">This is an un-ordered list item</li>
            <li class="global-ul-item">This is an un-ordered list item</li>
            <li class="global-ul-item">This is an un-ordered list item</li>
        </ul>
    </div>

    <div class="global-container">
        <ol class="global-ol">
            <li class="global-ol-item">This is an ordered list item</li>
            <li class="global-ol-item">This is an ordered list item</li>
            <li class="global-ol-item">This is an ordered list item</li>
            <li class="global-ol-item">This is an ordered list item</li>
            <li class="global-ol-item">This is an ordered list item</li>
        </ol>
    </div>

    <!-- =========== buttons =========== -->
    <div class="global-container">
        <a href="https://www.google.com/" class="global-button">BUTTON</a>
        <a href="https://www.google.com/" class="global-button global-button__dark-orange">BUTTON</a>
        <a href="https://www.google.com/" class="global-button global-button__orange">BUTTON</a>
        <a href="https://www.google.com/" class="global-button global-button__yellow">BUTTON</a>
        <a href="https://www.google.com/" class="global-button global-button__purple">BUTTON</a>
        <a href="https://www.google.com/" class="global-button global-button__red">BUTTON</a>
        <a href="https://www.google.com/" class="global-button global-button__blue">BUTTON</a>
    </div>

    <!-- =========== two column grid =========== -->
    <section class="global-twocol">
        <img src="https://images.pexels.com/photos/247431/pexels-photo-247431.jpeg" alt="image"
            class="global-twocol__img" width="100%">
        <div class="global-twocol__right">
            <h6 class="global-h6 global-twocol__h6-1">This is a title</h6>
            <p class="global-text global-twocol__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi,
                odio.</p>
            <h6 class="global-h6 global-twocol__h6-2">This is a title</h6>
            <p class="global-text global-twocol__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi,
                odio.</p>
            <h6 class="global-h6 global-twocol__h6-3">This is a title</h6>
            <p class="global-text global-twocol__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi,
                odio.</p>
            <h6 class="global-h6 global-twocol__h6-3">This is a title</h6>
            <p class="global-text global-twocol__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi,
                odio.</p>
        </div>
    </section>

    <div class="global-divider">
        <hr size="8" width="100%" color="red">
    </div>

    <!-- =========== three column grid =========== -->
    <section class="global-threecol">
        <div class="global-threecol__container">
            <img src="https://images.pexels.com/photos/247431/pexels-photo-247431.jpeg" alt="image"
                class="global-threecol__img" width="100%">
            <h6 class="global-h6 global-threecol__h6-1">This is a title</h6>
            <p class="global-text global-threecol__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Quasi, odio.</p>
        </div>
        <div class="global-threecol__container">
            <img src="https://images.pexels.com/photos/247431/pexels-photo-247431.jpeg" alt="image"
                class="global-threecol__img" width="100%">
            <h6 class="global-h6 global-threecol__h6-1">This is a title</h6>
            <p class="global-text global-threecol__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Quasi, odio.</p>
        </div>
        <div class="global-threecol__container">
            <img src="https://images.pexels.com/photos/247431/pexels-photo-247431.jpeg" alt="image"
                class="global-threecol__img" width="100%">
            <h6 class="global-h6 global-threecol__h6-1">This is a title</h6>
            <p class="global-text global-threecol__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Quasi, odio.</p>
        </div>
        <div class="global-threecol__container">
            <img src="https://images.pexels.com/photos/247431/pexels-photo-247431.jpeg" alt="image"
                class="global-threecol__img" width="100%">
            <h6 class="global-h6 global-threecol__h6-1">This is a title</h6>
            <p class="global-text global-threecol__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Quasi, odio.</p>
        </div>
        <div class="global-threecol__container">
            <img src="https://images.pexels.com/photos/247431/pexels-photo-247431.jpeg" alt="image"
                class="global-threecol__img" width="100%">
            <h6 class="global-h6 global-threecol__h6-1">This is a title</h6>
            <p class="global-text global-threecol__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Quasi, odio.</p>
        </div>
        <div class="global-threecol__container">
            <img src="https://images.pexels.com/photos/247431/pexels-photo-247431.jpeg" alt="image"
                class="global-threecol__img" width="100%">
            <h6 class="global-h6 global-threecol__h6-1">This is a title</h6>
            <p class="global-text global-threecol__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Quasi, odio.</p>
        </div>
    </section>

    <div class="global-divider">
        <hr size="8" width="100%" color="red">
    </div>

    <!-- =========== cards =========== -->
    <section class="global-cards">
        <div class="global-cards__container global-cards__dark-orange">
            <h6 class="global-h6 global-cards__h6">This is a title</h6>
            <p class="global-cards__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Quasi, odio.</p>
        </div>
        <div class="global-cards__container global-cards__orange">
            <h6 class="global-h6 global-cards__h6">This is a title</h6>
            <p class="global-cards__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Quasi, odio.</p>
        </div>
        <div class="global-cards__container global-cards__yellow">
            <h6 class="global-h6 global-cards__h6">This is a title</h6>
            <p class="global-cards__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Quasi, odio.</p>
        </div>
        <div class="global-cards__container global-cards__purple">
            <h6 class="global-h6 global-cards__h6">This is a title</h6>
            <p class="global-cards__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Quasi, odio.</p>
        </div>
        <div class="global-cards__container global-cards__red">
            <h6 class="global-h6 global-cards__h6">This is a title</h6>
            <p class="global-cards__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Quasi, odio.</p>
        </div>
        <div class="global-cards__container global-cards__blue">
            <h6 class="global-h6 global-cards__h6">This is a title</h6>
            <p class="global-cards__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Quasi, odio.</p>
        </div>
    </section>

</body>

</html>